    <div class="container-fluid datRow2 row white ">
        <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0 paddo">
            <p>Copyright - Tous droits réservés</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0">
            <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 paddo">
                <p class="fat"><a href="#">GamingField</a></p>
            </div>
        </div>

    </div>